body{
    background-color: black;
    color: gold;
}

.header{
    display: flex;
    justify-content: center;
}

.logo{
    height: 150px;
    margin-top: 40px;
   
}

.films{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
}

.films > div{
    margin-bottom: 10px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}

.films > div : hover{
cursor: pointer;
}